*{
    padding: 0;
    margin: 0;

}

body{
    width: 100%;
    height: 100%;
    background: grey;
}

.main{
    height: 190px;
    width: 100%;
    color: grey;
    background-color: #f2f2f2;
    
}

.nav-bar{
    height: 70px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

}

.nav-list {
    width: 40%;
    list-style-type: none;
    margin-left: 150px;
   
}

.nav-list li{
    float: left;
   font-size: 20px;
   padding: 10px;
   color: black;
}
.nav-list li:hover{
    background-color: aquamarine;
    color: blueviolet;
}

.profile{
    width: 30%;
    display: flex;
    position: relative;

}

.profile h3{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    color: black;
    padding: 10px;
}

.profile h3:hover{
    background-color: red;
    color: blue;
}

.nav-header{
    border: .5px solid #f2f2f2;
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.image-logo{
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
}

img{
   
    margin-left: 100px;
}

.nav-header-heading{
    width: 20%;
    margin-right: 60%;
    color: black;

}

.nav-search{
    margin-right: 100px;

}

.nav-search input{
   height: 30px;
}

@media only screen and(min-height: 600px){
    body{
        background-color: blue;
        color: aqua;
    }
    
}

/*
@media not|only mediatype and (media feature) and (media feature) {
  CSS-Code;
}
*/













