*{
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
    margin: 10px;
}
.main{
    height: 110px;
    width: 100%;
    background-color: #f2f2f2;
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.nav-header{
    display: flex;
    position: relative;
    height: 90px;
    width: 100%;
    background-color: #fff;
    border: 0.5px solid white;
}
.img-logo{
    display: flex;
    align-items: center;
    text-align: center;
}
.img-logo img{
    display: flex;
    margin-left: 120px;
}
.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px; 
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list li{
    display: flex;
    text-decoration: none;
    padding: 10px;
    font-size: large;
}
.nav-list li:hover{
    background-color: #333;
    color: #f2f2f2;
}
.search-button{
    display: flex;
    position: relative;
    align-items: center;
    margin: 200px;  
}
.search-button input{
    margin-left: 100px;
    font-size: 17px;
    height: 35px;
    outline-width: 10px red;
}
.user-icon{
 
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-icon i{
    display: flex;
    margin-left: 20px;
}
.chose-option{
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}







