*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hereos-section{
    margin-top: 100px;
   
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}
.heroes-section-content{
    display: flex;
    text-align: center;
    align-items: center;  
    margin: 10px;
    padding: 0 30px;
}
.heroes-content{
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.heroes-content h2{
    font-size: 40px;
    font-weight: 700;
    padding: 0 15px;
    margin-bottom: 30px;
}
.heroes-content p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 20px;
}
.heroes-form{
  
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   box-shadow: 3px 5px 5px;  
   border: 1px solid blue;
   
}
.heroes-form input{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 40px;
}
.sign-up{
   height: 40px;
   padding: 0 30px;  
}
hr{
    padding: 10px 0;
    margin: 0 10px;
}
@media (max-width: 1140px) and (min-width: 768px){
    .hereos-section{
        margin-top: 100px;
        background-color: yellowgreen;
        color: aliceblue;
    }
}
@media (max-width: 667px) {
    .hereos-section{
        display: flex;
        margin-top: 100px;
        background-color: aqua;
        color: aliceblue;
    }
}