*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    padding: 100px;
}
.first-section{
    position: relative;
    min-height: 100vh;
    background: url(f-\ section.webp);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-section h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.first-section h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.first-section h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;  
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}
.nav-bar.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.1);
}
.nav-bar .logo{
   
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px; 
}
.nav-bar.sticky .logo{
    color: #111;
}
.nav-bar .nav-list{
    position: relative;
    display: flex;
}
.nav-bar .nav-list li{
    position: relative;
    list-style: none;
}
.nav-bar .nav-list li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.nav-bar.sticky .nav-list li a{
    color:#111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
}
.contentBox{
    padding-right: 30px;
}
.contentBox h3{
    font-size: 24px;
    margin-bottom: 10px;  
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.services{
    background-color: #111;
}
 .white{
    background: #fff;
}
 .white h2{
    color: #fff;
}
 .white p{
    color: #fff;
}