* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.feature-section {
    margin-top: 100px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.feature-section-heading h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 8px;
   
}
.feature-section-wraper{
    display: flex;
    margin: 20px 0 0 0;
}
.feature-section-wraper-icon{
    display: flex;
}
.left-row{
margin: 0 20px 0 0;



}
.right-row{
    padding-right: 10px;
    margin: 10px 0 0 0;
}
.right-row h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.right-row p{
    font-family: Arial;
    font-weight: 300;
    margin: 0 0 10px 0;
}
.feature-btn-wraper button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.feature-btn-wraper button:hover {
    background-color: aqua;
    color: blueviolet;
}
@media (max-width: 1140px) and (min-width: 768px) {
    
    .feature-section {
        margin-top: 40px;
        background-color: bisque;
        color: blueviolet;
    }
}
@media (max-width: 767px) {

    .feature-section-wraper{
        display: flex;
        flex-direction: column;
        background-color: yellow;
        color: black;
        margin: 50px;

    } 
    
}