*{
    padding: 0;
    margin: 0;
}
body{
    background: #f2f2f2;
    margin: 10px;
    
}
.nav-header{
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    text-align: center;
    border-radius: 15px;
}
.brand-logo{
   display: flex;
   align-items: center;
   text-align: center;
}
.brand-logo img{
    display: flex;
    text-align: center;
    margin-left: 100px;

}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 350px;
 
}
.nav-list {
    display: flex;
    text-decoration: none;
    margin-left: 150px;
}
.nav-list li:hover{
    background-color: red;
    color: #f2f2f2;
}
.nav-bar ul li{
    display: flex;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
   
    
}
.nav-header-signup{
    position: relative;
    display: flex;
    width: 30%;
    float: left;
    align-items: center;
    text-align: center; 
}
.nav-header-signup h2{
    display: flex;
   text-align: center;
   padding: 20px;
   margin: 10px;
   border: 1px solid red;
   border-radius: 8px;
}
.nav-header-signup h2:hover{
    background-color: lightpink;
    color: black;
}
.active{
    background-color: blue;
    color: red;
}
@include media-breakpoint-up(sm) {
    body {
      display: block;
    }
  }

  .container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;

  }
