*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.nav-header{
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #f2f2f2;
}

.nav-bar{
   display: flex;
}

.nav-list{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 500px;
    
}

.nav-list li {

    display: flex;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    
}

.nav-list li:hover{
    background-color: lightgreen;
    color: black;
}