*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #333;
}

.heroes-section{
    margin-top: 150px;
    
}
.container{
    margin: 0 auto;
    max-width: 1140px;
}
.heroes-section{
    text-align: center;
    padding: 0 20px;
}
.heroes-content h2{
    padding: 0 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 30px;
}
.heroes-content p{
    padding: 0 30px;
    text-align: center;
    font-size: large;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
   
}
.heroes-button-wraper{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
}
.heroes-button-wraper button{
    color: whitesmoke;
    padding:  10px;
    margin: 10px;
}
.heroes-content button:hover{
    background-color: rebeccapurple;
    color: red;
}
@media (max-width: 1140px) and (min-width: 768px){
    .heroes-section{
        margin-top: 150px;
        background-color: green;
        color: aliceblue;
    }
    
}
@media (max-width: 767px) {
    .heroes-section{
        margin-top: 150px;
        background-color: gold;
        color: white;
    }
} 
