*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heroes-section{
    margin-top: 150px;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.heroes-section-content{
     display: flex;
}
.heroes-content h2{
     font-size: 30px;
     font-weight: 700;
     margin: 0 10px;
     padding: 0 10px;
}
.heroes-content p{
     font-size: large;
     font-weight: 400;
     margin-bottom: 20px;
     padding: 10px;
}
.heroes-content button{ 
    margin: 10px 20px;
    padding: 10px;
}
.heroes-image{
   
}
.heroes-content button:hover{
     background-color: red;
     color: black;
}
@media (max-width: 1140px) and (min-width: 768px){
     .heroes-section{
          margin-top: 150px;
          background-color: rgb(166, 60, 25);
          color: white;
      } 
     
}
@media (max-width: 767px) {
     .heroes-section{
          margin-top: 150px;
          background-color: rgb(171, 107, 22);
          color: chartreuse;
      }
}