*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.feature-section{

    margin-top: 70px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.feature-section-heading h2{
      font-size: 40px;
      font-weight: 700;
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 20px;
}
hr{
    margin-bottom: 20px;
}
.feature-section-wraper-content{
    display: flex;
    width: 100%;
}
.feature-section-wraper{
   display: flex;
   width: 50%;
   margin-top: 50px;
   padding-left: 25px;
   padding-right: 25px;
}
h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
p{
    font-size: large;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    background-color: #0d6efd;
}
.feature-section-wraper-2{
display: flex;
width: 50%;    
}
.feature-section-icon i{
    margin-bottom: 20px;
}
@media (max-width: 1140px) and (min-width: 768px) {

    .feature-section{
        background-color: red;
        color: whitesmoke;
        margin: 10px 0;
    }   
}
@media (max-width: 767px){
    .feature-section-wraper-content{
        background-color: yellowgreen;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .feature-section-heading h2{
        margin: 50px;
        
    }
   
    .feature-section-wraper-2{
        background-color: yellowgreen;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        padding: 10px;
    }
}