*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hereos-section{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
}
.container{
    display: flex;
    margin-top: 100px;
}
.heroes-content{
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.heroes-content h2{
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
}
.heroes-content p{
    font-size: 20px;
}
.heroes-form{
    padding: 50px;
    margin: 50px;
    box-shadow: 3px 10px 0px 0px #fff; 
    border: .3px solid blue;
}
.sign-up{
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: 40px;
    padding: 10px;
}
.sign-up:hover{
    background-color: red;
    color: aliceblue;

}