*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heroes-section{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-top: 150px;
  
}
.container{
  display: flex;
}
.heroes-content h2{
     font-size: 30px;
     margin: 20px;
     padding: 10px;
}
.heroes-content p{
     font-size: large;
     margin: 20px;
     padding: 10px;
}
.heroes-content button{
     margin-left: 30px;
     padding: 10px;
}
.heroes-image{
    margin-left: 20px;
    margin-top: 10px;
}
.heroes-content button:hover{
     background-color: red;
     color: black;
}

@media (max-width: 1024px) {
     
}
@media (max-width: 767px) {
     
}

