*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.feature-section{

    margin: 0 auto;
    margin-top: 70px;
   
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
 h2{
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-family: 'Lucida Sans', sans-serif;
}

.feature-wraper-image{
    display: flex;
    
}
.feature-section-background-image-1{
        background-image: url(download.jpeg) ;
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        border: 1px solid red;
        background-size: cover; 
        border-radius: 10px;  
         
}
.feature-wraper-image{
    padding: 20px;
}
.feature-section-background-image-2{
        background-image: url(tree-736885_1280.jpg) ;
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        border: 1px solid red;
        background-size: cover; 
        border-radius: 10px;   
      
      
}
.feature-section-background-image-3{
        background-image: url(free-nature-images.jpg) ;
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        border: 1px solid red;
        background-size: cover; 
        border-radius: 10px;   
       
      
}
.feature-section-background-image h3{
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.feature-section-wraper{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    
}
.feature-section-content{
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
}
i{
    padding: 5px;
    text-align: center;
}
.brand-logo{
    margin-top: 250px;
}


@media (max-width: 1140px) and (min-width:768px) {
.feature-section{
    background-color: red;
    color: white;
}  
}
@media (max-width: 767px){
 
    .feature-section-wraper{
       
       display: flex;
       flex-direction: column;
        color: white;
    }
}